<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin disabled="false" name="MaxMage_InternationalTelephoneInput_Plugin_Block_Checkout_LayoutProcessor"
                type="MaxMage\InternationalTelephoneInput\Plugin\Block\Checkout\LayoutProcessor"/>
    </type>
</config>